<style>
h1{
    color: rgb(98, 7, 7);
    background-color: yellow;
}
body{background-color: rgb(142, 26, 64);} 
p{
    font-family: 'Courier New', Courier, monospace; 
font-size: 40px;
color: rgb(24, 2, 52);

}


</style>